/* Inject global theme configurations directly */
:root[data-lyeh-theme="dark"] {
    --lyeh-bg-primary: #292424;
    --lyeh-bg-shadow: #1a1616;
    --lyeh-bg-secondary: #362f2f;
    --lyeh-bg-thirdy: #2e2828;
    --lyeh-accent: #ed4597; /* Custom accent color instead of Genius yellow */
    --lyeh-text-main: #f1f2f6;
    --lyeh-text-muted: #a4b0be;

    --accent-muted: rgba(250, 100, 160, 0.5);
    --lyeh-current-song-accent: #000000; /* fallback */
    --lyeh-current-song-accent-secondary: #000000; /* fallback */
    --artist-banner-url: linear-gradient(
        180deg,
        rgba(30, 30, 46, 1) 0%,
        rgba(49, 50, 68, 1) 50%,
        rgba(30, 30, 46, 1) 100%
    );
    --current-accent: rgb(255, 255, 100);
    --settings-player-width: 40vh;
}

/* Overwrite the structural layout safely */
body,
div[class^="PageLayout__Container"],
main {
    background-color: var(--lyeh-bg-primary) !important;
    color: var(--lyeh-text-main) !important;
    fill: var(--lyeh-text-main) !important;
    transition: background-color 1s;
}
path {
    fill: var(--lyeh-text-main);
}
div[class^="StickyNavLoggedIn__Container"] path {
    fill: color-contrast(var(--current-accent));
}
div[class^="Lyrics__Container"] {
    font-size: 1.15rem !important;
    letter-spacing: -0.01em !important;
    line-height: 1.7 !important;
    color: var(--lyeh-text-main) !important;
}

div[class^="Lyrics__Container"] a {
    text-decoration-color: var(--lyeh-accent) !important;
    border-bottom: 1px dashed rgba(255, 71, 87, 0.3);
    transition: all 0.2s ease;
}

div[class^="Lyrics__Container"] a:hover {
    background: rgba(255, 71, 87, 0.1);
    border-bottom: 1px solid var(--lyeh-accent);
}

span[class^="ReferentFragment"] {
    background: var(--lyeh-bg-secondary);
    color: var(--lyeh-text-main) !important;
}

span[class^="ReferentFragment"]:hover {
    background: rgba(250, 100, 160, 0.7);
    border-bottom: 1px solid var(--lyeh-accent);
    color: var(--lyeh-text-main) !important;
}

*[class^="TextLabel"] {
    color: var(--lyeh-text-main) !important;
}

*[class^="ContributorsCreditSong"] {
    color: var(--lyeh-text-main) !important;
}
a:not([class^="StickyNavSectionLink__StyledLink"]) {
    color: var(--lyeh-text-main) !important;
    text-decoration: underline rgba(255, 255, 255, 0.5) !important;
}
span {
    color: var(--lyeh-text-main) !important;
}

div[class^="SongHeader-desktop__CoverArt"] img {
    border-radius: 10px;
}
aside[class^="ContributorSidebar__Container"] {
    background-color: var(--lyeh-bg-secondary) !important;
    padding-right: 14px;
    border-radius: 15px;
    box-shadow: 10px 5px 5px var(--lyeh-bg-shadow);
}
div[class^="ContributorSidebarSection__Header"] {
    color: var(--lyeh-text-main);
}
div[class^="ContributorSidebarMetadata"] {
    color: var(--lyeh-text-main);
}

button[class^="Button__Container-sc"] {
    color: var(--lyeh-text-main) !important;
    border: 1px solid var(--lyeh-text-main);
}
button[class^="Button__Container-sc"]:hover {
    background-color: rgba(250, 100, 160, 0.5) !important;
    transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1) !important;
}
a[class^="Button__Container-sc"] {
    color: var(--lyeh-text-main) !important;
    border: 1px solid var(--lyeh-text-main);
}
a[class^="Button__Container-sc"]:hover {
    background-color: rgba(250, 100, 160, 0.5) !important;
    transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1) !important;
}

button[class^="ContributorActionTextbox"] {
    color: var(--lyeh-text-main) !important;
    border: 1px solid var(--lyeh-text-main);
}
div[class^="ContributorSidebarSection__HeaderButtons"] svg path:first-child {
    fill: var(--lyeh-text-main) !important;
}
div[class^="ContributorSidebarSection__HeaderButtons"] svg path:last-child {
    fill: var(--lyeh-bg-primary) !important;
}
/*Pagegrid bad*/
div[class^="PageGrid-desktop"][class*="StickyToolbar__Container"] {
    background-color: var(--lyeh-bg-primary) !important;
    border-bottom: none;
}
button[class^="SmallButton__Container"] {
    color: var(--lyeh-text-main) !important;
    border-color: var(--lyeh-text-main);
}
button[class^="SmallButton__Container"]:hover {
    background-color: rgba(250, 100, 160, 0.5) !important;
    transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1) !important;
}
a[class^="SmallButton__Container"] {
    color: var(--lyeh-text-main) !important;
    border-color: var(--lyeh-text-main);
}
a[class^="SmallButton__Container"]:hover {
    background-color: rgba(250, 100, 160, 0.5) !important;
    transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1) !important;
}

svg[class^="LineItemActionIcon__Icon"][data-action-name="recognized"] path,
svg[class^="LineItemActionIcon__Icon"][data-action-name="accepted"] path,
svg[class^="LineItemActionIcon__Icon"][data-action-name="hit_pageview_threshold"] path,
svg[class^="LineItemActionIcon__Icon"][data-action-name="upvoted"] path {
    fill: rgb(75 191 56) !important;
}
div[class^="LineItemList__Container"] path {
    fill: rgb(154, 154, 154) !important;
}
div[class^="LineItem__IqDifference"] {
    color: rgb(75 191 56) !important;
}
svg[class^="LineItemActionIcon__Icon"][data-action-name="earned"] path {
    fill: #c7ba18 !important;
}

span[class^="ContributorActionTextbox"] {
    color: var(--lyeh-text-main) !important;
}
/*nav[class^="StickyNav"] {
    background-color: var(--lyeh-current-song-accent) !important;
}
div[data-testid="song-header"][data-testid="song-header"] {
    background-image: linear-gradient(
        var(--lyeh-current-song-accent),
        var(--lyeh-current-song-accent-secondary)
    ) !important;
    z-index: 4;
}
[class^="StickyNavSectionLink__StyledLink"] {
    color: contrast-color(var(--lyeh-current-song-accent)) !important;
} */
[color="background.iqPoints"] {
    color: #4bbf38 !important;
}
[color="background.negativeNumber"] {
    color: #f03e26 !important;
}

div[class^="ContributorsCreditMarkedComplete__CompletedUsernameContainer"] {
    color: var(--lyeh-text-main) !important;
}
div[class^="TooltipShadow"] {
    border-radius: 15px;
    background-color: transparent;
    position: relative;
    color: var(--lyeh-text-main);
    z-index: 1; /* Establish a stacking context */
    overflow: hidden; /* Keeps the blurred edges from bleeding out */
}

/* The background layer */
div[class^="TooltipShadow"]::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: var(--artist-banner-url) !important;
    background-size: cover;
    background-position: center;
    border: 0px;
    filter: blur(2px) brightness(0.5);
    transform: scale(1.1); /* Slight scale prevents white/transparent borders caused by blur */
    z-index: -1; /* Pushes it behind the text/links */
    border-radius: 15px !important;
    transition: all 1s;
}

div[class^="ArtistTooltip__Verified"] {
    color: black;
    font-size: 0.75rem;
    background-color: rgb(255, 255, 100);
    border-radius: 15px !important;
    text-align: center;
    margin-right: 30%;
}
div[class^="TooltipShadow"]:has([class^="ArtistTooltip__Verified"]) {
    box-shadow: 1px 1px 20px rgba(255, 255, 100, 0.5) !important;
}

div[class^="TooltipShadow"]:has([role="moderator"]) {
    box-shadow: 1px 1px 20px rgba(4, 126, 198, 0.5) !important;
}
div[class^="Placeholder__Container"] {
    background-color: rgba(250, 100, 160, 0.7) !important;
}
span[class^="UserBadge__Iq"] {
    background-color: rgba(255, 255, 100, 0.8) !important;
    color: black !important;
    border-radius: 10px;
    padding: 0.125rem 0.225rem;
}

button {
    color: white !important;
}

div[class^="UserBadge__Role-sc-"] {
    display: inline-flex;
    align-items: center;
    overflow: hidden;
    padding: 4px 0px;
    transition: all 0.3s ease-in-out;
}

span[class^="UserBadge__RoleLabel-sc-"] {
    max-width: 0;
    opacity: 0;
    white-space: nowrap;
    display: inline-block;
    transition:
        max-width 0.3s ease-in-out,
        opacity 0.2s ease-in-out,
        margin 0.3s ease-in-out;
    margin-right: 0;
}

div[class^="UserBadge__Role-sc-"]:hover span[class^="UserBadge__RoleLabel-sc-"] {
    max-width: 100px;
    opacity: 1;
    margin-right: 6px;
}

span[class^="RoleIcon__Container-sc-"] {
    display: flex;
    align-items: center;
    width: 14px;
    height: 14px;
    flex-shrink: 0;
}
span[class^="RoleIcon__Container-sc-"] svg {
    width: 100%;
    height: 100%;
}
div[class^="AlbumTracklist__Track"] {
    color: var(--lyeh-text-main);
}

div[class^="PageGrid-desktop"][class*="SongHeader-desktop__Container"] :is(span, a, button, path) {
    color: color-contrast(var(--current-accent)) !important;
    fill: color-contrast(var(--current-accent)) !important;
}

/*div[class^="white_container"] {
    background-color: #16141496;
    border: 1px solid rgba(255, 255, 255, 0.6);
    border-radius: 10px;
}*/
div[class^="white_container"] {
    background-color: transparent;
}

span[class^="LineItemMessage__NoteBubble"] {
    background-color: rgba(250, 100, 160, 0.7) !important;
}

input {
    caret-color: var(--lyeh-accent);
}

::selection {
    color: white;
    background-color: rgba(250, 100, 160, 0.7);
}
/* metadata */

div[class^="ScrollableTabs__TabNavContainer"] {
    background-color: rgba(0, 0, 0, 0.3) !important;
    backdrop-filter: blur(5px);
    border-radius: 15px 15px 0 0;
}
div[class^="ScrollableTabs__ContentArea"] {
    background-color: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(5px);
}
h3[class^="ScrollableTabsSection__Title"],
legend[class^="Field-shared__FieldLabel"] {
    color: var(--lyeh-text-main);
}

/* USE NORMAL CLASSES HERE PLS 🙏 THS ON UPDATE WILL DIE*/
div[class^="css-hfv4dh-singleValue"] {
    color: var(--lyeh-text-main);
}

/* todo: order this 😭*/
div[class^="LyricsHighlightTooltip__Content"] {
    background-color: #16141496;
    /*box-shadow: 8px 8px 12px black;*/
    border: 1px solid rgba(255, 255, 255, 0.2) !important;
    backdrop-filter: blur(10px);
    border: 0;
    border-radius: 10px;
    color: var(--lyeh-text-main);
}
div[class^="LyricsHighlightTooltip__Content"]:hover {
    background-color: var(--accent-muted) !important;
}
button[class^="LyricsHighlightTooltip__Container"]::before {
    display: none;
}
div[class^="LyricsHighlightTooltip__Content"]::before:hover {
    background-color: var(--accent-muted) !important;
}
span[class^="LyricsHighlightTooltip__IQ"] {
    color: #40ff21 !important;
}
a[class^="LyricsHeader__TranslationLink"] {
    background: transparent;
}
a[class^="LyricsHeader__TranslationLink"]:hover {
    background-color: var(--accent-muted) !important;
}

div[class^="VotesModal__Container"] {
    border-radius: 10px;
    background-color: rgba(41, 36, 36, 0.4);
    backdrop-filter: blur(10px);
}

/*
Popup:
border-radius: 10px;
background-color: rgba(41, 36, 36, 0.4);
backdrop-filter: blur(10px);

layer:
#16141496
*/
