/* Inject global theme configurations directly */
/*[data-lyeh-theme="dark"]*/
:root {
    --settings-background: #4d4545ff;
    --background-main: color-mix(
      in srgb,
       rgba(0, 0, 0, 1),
      var(--settings-background, transparent)
    );
    --background-main-full: rgb(from var(--settings-background) r g b / 1);

    --background-secondary: var(--settings-background);

    --background-glassy-50: color-mix(in srgb, var(--settings-background), #000000 20%);

    --background-glassy-container: color-mix(in srgb, rgba(41, 36, 36, 0.4),  var(--settings-background) 20%);
    --background-glassy-layer: color-mix(in srgb, #16141496 , var(--settings-background) 25%);

    --background-glassy-hover: color-mix(in srgb, #161414 , var(--settings-background) 55%);


    --settings-accent: #fa64a0; /* Custom accent color instead of Genius yellow */
    --lyeh-text-main: #f1f2f6;
    --lyeh-text-muted: #a4b0be;

    --accent-70: color-mix(in srgb, var(--settings-accent) 70%, transparent);
    --accent-60: color-mix(in srgb, var(--settings-accent) 60%, transparent);
    --accent-50: color-mix(in srgb, var(--settings-accent) 50%, transparent);
    --accent-40: color-mix(in srgb, var(--settings-accent) 40%, transparent);

    --accent-muted: color-mix(in srgb, var(--settings-accent) 50%, transparent);
    --lyeh-current-song-accent: #000000; /* fallback */
    --lyeh-current-song-accent-secondary: #000000; /* fallback */
    --artist-banner-url: linear-gradient(
        180deg,
        rgba(30, 30, 46, 1) 0%,
        rgba(49, 50, 68, 1) 50%,
        rgba(30, 30, 46, 1) 100%
    );
    --current-accent: rgb(255, 255, 100);
    --settings-player-width: 40vh;
    --settings-spotify: flex;

    --profile-bg-primary: var(--settings-background);
    --profile-bg-secondary: var(--settings-background);

}

/* Overwrite the structural layout safely */
body,
div[class^="PageLayout__Container"],
main {
    background-color: var(--background-main) !important;
    color: var(--lyeh-text-main) !important;
    fill: var(--lyeh-text-main) !important;
    transition: background-color 1s;
}
path {
    fill: var(--lyeh-text-main);
}

div[class^="StickyNavLoggedIn__Container"] path {
    fill: color-contrast(var(--current-accent));
}

div[class^="Lyrics__Container"] {
    color: var(--lyeh-text-main) !important;
    font-family: var(--settings-font);
    font-weight: var(--settings-font-weight);
}

.lyeh-custom-spacing div[class^="Lyrics__Container"] {
    font-size: 1.15rem !important;
    letter-spacing: -0.01em !important;
    line-height: 1.7 !important;
}

span[class^="ReferentFragment"] span {
    text-decoration: underline var(--settings-accent) !important;

    /*border-bottom: 1px dashed rgba(255, 71, 87, 0.3);*/
}
div[class^="AnnotationPlaceholder__Block"] {
    background-color: var(--accent-50);

}
.rich_text_formatting a:hover {
    border-radius: 4px;
    background-color: var(--accent-50);
}

span[class^="ReferentFragment"] {
    text-decoration: underline var(--settings-accent) !important;

    background: var(--background-secondary);
    color: var(--lyeh-text-main) !important;
    transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1);


    z-index: 1;
}

.lyeh-linked-hover {
    background: color-mix(in srgb, var(--settings-accent) 30%, transparent) !important;
    /*border-bottom: 1px solid var(--settings-accent);*/
    color: var(--lyeh-text-main) !important;
}

*[class^="TextLabel"] {
    color: var(--lyeh-text-main) !important;
}

*[class^="ContributorsCreditSong"] {
    color: var(--lyeh-text-main) !important;
}
a:not([class^="StickyNavSectionLink__StyledLink"]) {
    color: var(--lyeh-text-main) !important;
    text-decoration: underline rgba(255, 255, 255, 0.5) !important;
}
span {
    color: var(--lyeh-text-main) !important;
}

div[class^="SongHeader-desktop__CoverArt"] img {
    border-radius: 10px;
}
aside[class^="ContributorSidebar__Container"] {
    background-color: #16141496 !important;
    padding-right: 14px;
    border-radius: 15px;
    box-shadow: 5px 5px 5px #1a1616;
}
div[class^="ContributorSidebarSection__Header"] {
    color: var(--lyeh-text-main);
}
div[class^="ContributorSidebarMetadata"] {
    color: var(--lyeh-text-main);
}

button[class^="Button__Container-sc"] {
    color: var(--lyeh-text-main) !important;
    border: 1px solid var(--lyeh-text-main);
}
button[class^="Button__Container-sc"]:hover {
    background-color: var(--accent-50) !important;
    transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1) !important;
}
a[class^="Button__Container-sc"] {
    color: var(--lyeh-text-main) !important;
    border: 1px solid var(--lyeh-text-main);
}
a[class^="Button__Container-sc"]:hover {
    background-color: var(--accent-50) !important;
    transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1) !important;
}

button[class^="ContributorActionTextbox"] {
    color: var(--lyeh-text-main) !important;
    border: 1px solid var(--lyeh-text-main);
}
div[class^="ContributorSidebarSection__HeaderButtons"] svg path:first-child {
    fill: var(--lyeh-text-main) !important;
}
div[class^="ContributorSidebarSection__HeaderButtons"] svg path:last-child {
    fill: var(--background-main) !important;
}
/*Pagegrid bad*/
div[class^="PageGrid-desktop"][class*="StickyToolbar__Container"] {
    background-color: transparent !important;
    position: sticky;
    border-bottom: none;
}
div[class^="PageGrid-desktop"][class*="StickyToolbar__Container"].is-sticky {
    background-color: rgb(from var(--settings-background) r g b / 1) !important;
    border-bottom: 1px solid var(--theme-border, #222) !important;
}
button[class^="SmallButton__Container"] {
    color: var(--lyeh-text-main) !important;
    border-color: var(--lyeh-text-main);
}
button[class^="SmallButton__Container"]:hover {
    background-color: var(--accent-50) !important;
    transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1) !important;
}
a[class^="SmallButton__Container"] {
    color: var(--lyeh-text-main) !important;
    border-color: var(--lyeh-text-main);
}
a[class^="SmallButton__Container"]:hover {
    background-color: var(--accent-50) !important;
    transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1) !important;
}

svg[class^="LineItemActionIcon__Icon"][data-action-name="recognized"] path,
svg[class^="LineItemActionIcon__Icon"][data-action-name="accepted"] path,
svg[class^="LineItemActionIcon__Icon"][data-action-name="hit_pageview_threshold"] path,
svg[class^="LineItemActionIcon__Icon"][data-action-name="upvoted"] path {
    fill: rgb(75 191 56) !important;
}
div[class^="LineItemList__Container"] path {
    fill: rgb(154, 154, 154) !important;
}
div[class^="LineItem__IqDifference"] {
    color: rgb(75 191 56) !important;
}
svg[class^="LineItemActionIcon__Icon"][data-action-name="earned"] path {
    fill: #c7ba18 !important;
}

span[class^="ContributorActionTextbox"] {
    color: var(--lyeh-text-main) !important;
}
/*nav[class^="StickyNav"] {
    background-color: var(--lyeh-current-song-accent) !important;
}
div[data-testid="song-header"][data-testid="song-header"] {
    background-image: linear-gradient(
        var(--lyeh-current-song-accent),
        var(--lyeh-current-song-accent-secondary)
    ) !important;
    z-index: 4;
}
[class^="StickyNavSectionLink__StyledLink"] {
    color: contrast-color(var(--lyeh-current-song-accent)) !important;
} */
div[class^="StickyNavScrollTopLink__Container"] span {
    color: color-contrast(var(--current-accent)) !important;
}
div[class^="StickyNavSections-sc"] a {
    border-radius: 5px;
}
[color="background.iqPoints"] {
    color: #4bbf38 !important;
}
[color="background.negativeNumber"] {
    color: #f03e26 !important;
}

div[class^="ContributorsCreditMarkedComplete__CompletedUsernameContainer"] {
    color: var(--lyeh-text-main) !important;
}
div[class^="TooltipShadow"] {
    border-radius: 15px;
    background-color: transparent;
    position: relative;
    color: var(--lyeh-text-main);
    z-index: 1; /* Establish a stacking context */
    overflow: hidden; /* Keeps the blurred edges from bleeding out */
}

/* The background layer */
div[class^="TooltipShadow"]::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: var(--artist-banner-url) !important;
    background-size: cover;
    background-position: center;
    border: 0px;
    filter: blur(2px) brightness(0.5);
    transform: scale(1.1); /* Slight scale prevents white/transparent borders caused by blur */
    z-index: -1; /* Pushes it behind the text/links */
    border-radius: 15px !important;
    transition: all 1s;
}

div[class^="ArtistTooltip__Verified"] {
    color: black;
    font-size: 0.75rem;
    background-color: rgb(255, 255, 100);
    border-radius: 15px !important;
    text-align: center;
    margin-right: 30%;
}
div[class^="TooltipShadow"]:has([class^="ArtistTooltip__Verified"]) {
    box-shadow: 1px 1px 20px rgba(255, 255, 100, 0.5) !important;
}

div[class^="TooltipShadow"]:has([role="moderator"]) {
    box-shadow: 1px 1px 20px rgba(4, 126, 198, 0.5) !important;
}
div[class^="Placeholder__Container"] {
    background-color: var(--accent-70) !important;
}
span[class^="UserBadge__Iq"] {
    background-color: rgba(255, 255, 100, 0.8) !important;
    color: black !important;
    border-radius: 10px;
    padding: 0.125rem 0.225rem;
}

button {
    color: white !important;
}

div[class^="UserBadge__Role-sc-"] {
    display: inline-flex;
    align-items: center;
    overflow: hidden;
    padding: 4px 0px;
    transition: all 0.3s ease-in-out;
}

span[class^="UserBadge__RoleLabel-sc-"] {
    max-width: 0;
    opacity: 0;
    white-space: nowrap;
    display: inline-block;
    transition:
        max-width 0.3s ease-in-out,
        opacity 0.2s ease-in-out,
        margin 0.3s ease-in-out;
    margin-right: 0;
}

div[class^="UserBadge__Role-sc-"]:hover span[class^="UserBadge__RoleLabel-sc-"] {
    max-width: 100px;
    opacity: 1;
    margin-right: 6px;
}

span[class^="RoleIcon__Container-sc-"] {
    display: flex;
    align-items: center;
    width: 14px;
    height: 14px;
    flex-shrink: 0;
}
span[class^="RoleIcon__Container-sc-"] svg {
    width: 100%;
    height: 100%;
}
div[class^="AlbumTracklist__Track"] {
    color: var(--lyeh-text-main);
}

div[class^="PageGrid-desktop"][class*="SongHeader-desktop__Container"] :is(span, a, button, path) {
    color: color-contrast(var(--current-accent)) !important;
    fill: color-contrast(var(--current-accent)) !important;
}

/*div[class^="white_container"] {
    background-color: var(--background-glassy-layer);
    border: 1px solid rgba(255, 255, 255, 0.6);
    border-radius: 10px;
}*/
div[class^="white_container"] {
    background-color: transparent;
}

span[class^="LineItemMessage__NoteBubble"] {
    background-color: var(--accent-70) !important;
}

input {
    caret-color: var(--settings-accent);
}

::selection {
    color: white;
    background-color: var(--accent-70) !important;
}
/* metadata */

div[class^="ScrollableTabs__TabNavContainer"] {
    background-color: var(--background-glassy-50) !important;
    backdrop-filter: blur(10px);
    border-radius: 15px 15px 0 0;
}
div[class^="ScrollableTabs__ContentArea"] {
    position: relative;
    background-color: transparent;
}
div[class^="ScrollableTabs__ContentArea"]::before {
    content: "";
    background-color: var(--background-glassy-50) !important;
    z-index: -1;
    inset: 0;
    backdrop-filter: blur(10px);
    position: absolute;
}
h3[class^="ScrollableTabsSection__Title"],
legend[class^="Field-shared__FieldLabel"] {
    color: var(--lyeh-text-main);
}

div[class^="TagInputMultiComponents"] {
    background-color: transparent;
}
div[class^="css-"][class*="multiValue"] {
    background-color: var(--accent-40);
    border-radius: 10px;
}
/*TagInputMultiComponents*/
div[class^="ReactSelect-components"] {
    color: var(--lyeh-text-main);
}
div[id^="react-select"] {
    background-color: transparent !important;
    backdrop-filter: blur(10px) !important;
    color: white;
}
div[class^="css-"][class*="menu"] {
    background-color: rgba(255, 255, 255, 0.2);
}
div[class^="css-"][class*="option"]:hover {
    background-color: var(--accent-40) !important;
}

div[class^="RepeatableInputPair__Row-sc"] {
    border: thin solid var(--lyeh-text-main);
}
/* USE NORMAL CLASSES HERE PLS 🙏 THS ON UPDATE WILL DIE*/
div[class^="css-hfv4dh-singleValue"] {
    color: var(--lyeh-text-main);
}
div[class^="ScrollableTabsSection__HeaderActions"] path:last-child {
    fill: black;
}
button[class^="IconButton-sc"][class*="Modal-desktop__SaveIconButton-sc"] {
    background-color: rgb(86 169 50) !important;
}
button[class^="IconButton-sc"][class*="Modal-desktop__SaveIconButton-sc"] path {
    fill: white !important;
}
label[class^="Modal-desktop__ButtonField"] button[aria-label="Save"]:hover {
    background-color: rgb(106 189 70) !important;
}
label[class^="Modal-desktop__ButtonField"] button[aria-label="Cancel"]:hover {
    background-color: var(--accent-60) !important;
}
/* todo: order this 😭*/
div[class^="LyricsHighlightTooltip__Content"] {
    background-color: var(--background-glassy-layer);
    /*box-shadow: 8px 8px 12px black;*/
    border: 1px solid rgba(255, 255, 255, 0.2) !important;
    backdrop-filter: blur(10px);
    border: 0;
    border-radius: 10px;
    color: var(--lyeh-text-main);
}
div[class^="LyricsHighlightTooltip__Content"]:hover {
    background-color: var(--accent-muted) !important;
}
button[class^="LyricsHighlightTooltip__Container"]::before {
    display: none;
}
div[class^="LyricsHighlightTooltip__Content"]::before:hover {
    background-color: var(--accent-muted) !important;
}
span[class^="LyricsHighlightTooltip__IQ"] {
    color: #40ff21 !important;
}
a[class^="LyricsHeader__TranslationLink"] {
    background: transparent;
}
a[class^="LyricsHeader__TranslationLink"]:hover {
    background-color: var(--accent-muted) !important;
}

div[class^="VotesModal__Container"] {
    border-radius: 10px;
    background-color: var(--background-glassy-container);
    backdrop-filter: blur(10px);
}

ul[class^="StickyToolbarDropdown__DropdownItems"] {
    border-radius: 10px;
    background-color: var(--background-glassy-container) !important;
    color: white !important;
    border: 1px solid rgba(255, 255, 255, 0.15) !important;
    backdrop-filter: blur(10px);
}
li[class^="StickyToolbarDropdownItem__Container"]:last-child {
    border-bottom-left-radius: 9px;
    border-bottom-right-radius: 9px;
}

/* Match the top corners on the first item just in case */
li[class^="StickyToolbarDropdownItem__Container"]:first-child {
    border-top-left-radius: 9px;
    border-top-right-radius: 9px;
}
li[class^="StickyToolbarDropdownItem__Container"]:hover {
    background-color: var(--accent-50);
}
li[class^="StickyToolbarDropdownItem__Container"]::before {
    background-color: white !important;
    border-color: white !important;
    clip-path: polygon(0 0, 100% 0, 100% 100%);
}

div[class^="TagInput__Container"] div[class^="css"][class*="-control"] {
    border-color: var(--lyeh-text-main) !important;
}
div[class^="Toast__Container"] {
    background-color: transparent !important;
}
div[class^="Toast__Container"] div[class^="Alert__Container"][color="success.main"] {
    background-color: var(--accent-40) !important;
    border: 1px solid rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(10px);
    border-radius: 10px;
}
div[class^="Toast__Container"] div[class^="Alert__Container"][color="success.main"] path {
    fill: var(--lyeh-text-main);
}
div[class^="Alert__Container"][color="background.on"] {
    background-color: #ff43434a;
    border: 1px solid rgba(255, 255, 255, 0.15);
    border-radius: 10px;
}
div[class^="Alert__Container"][color="error.main"] {
    background-color: #ff43434a;
    border: 1px solid rgba(255, 255, 255, 0.15);
    border-radius: 10px;
}
div[class^="LyricsEditArchiveInfoSection__Container"] {
    background-color: #ff43434a;
    border: 1px solid rgba(255, 255, 255, 0.15);
    border-radius: 10px;
}
/*
Popup:
border-radius: 10px;
background-color: rgba(41, 36, 36, 0.4);
backdrop-filter: blur(10px);

layer:
var(--background-glassy-layer)

border: 1px solid rgba(255, 255, 255, 0.15);

accent
var(--accent-40)

*/
[class^="QuestionTemplate__Title"] {
    background-color: #000000a1;
}

div[class^="PageGrid-desktop"][class*="About__Grid"]
    :not([class^="QuestionTemplate__Title"] span, [class^="IqPoints__Container"]):is(a, div, button, span, h2, path) {
    color: var(--accent-text) !important;
    border-color: var(--accent-text) !important;
    fill: var(--accent-text);
}
button[class^="TextButton"] path {
    fill: contrast-color(var(--accent-text)) !important;
}

.iq_notification {
    border-radius: 10px;
    background-color: rgb(219 89 141 / 49%) !important;
    backdrop-filter: blur(10px);
    box-shadow: none !important;
    border: 1px solid rgba(255, 255, 255, 0.15);
}
div[class^="TooltipContent-sc"] {
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.4) !important;
    outline: none !important;
    border: 1px solid rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(10px);
    color: var(--lyeh-text-main);
}

div[class^="AnnotationPortal-desktop__Callout"]::before {
    clip-path: polygon(0 0, 100% 0, 100% 100%);
}
div[class^="EmbedForm__FormContent"] {
    color: var(--lyeh-text-main);
}
label[class^="RadioButtons__Label-sc"] div {
    border-color: var(--lyeh-text-main);
}
input[type="radio"]:checked ~ [class^="RadioButtons__Button-sc"]::before {
    background-color: var(--lyeh-text-main) !important;
}
