div[class^="SectionTitle__Title-sc"] {
    color: var(--lyeh-text-main);
}
div[class^="ExpandableListItem__Container"] {
    border-color: var(--lyeh-text-main);
}
div[class^="ExpandableListItem__Title"] {
    color: var(--lyeh-text-main);
    background-color: transparent;
}
div[class^="AlbumCredits__Columns"] div {
    color: var(--lyeh-text-main) !important;
}
div[class^="SongCredits__Columns"] div {
    color: var(--lyeh-text-main) !important;
}
a[class^="SongTags__Tag"] {
    border-color: var(--lyeh-text-main) !important;
}

div[class^="TracklistOffsetContainer"] {
    color: var(--lyeh-text-main);
}

div[class^="UnnumberedTracksEditor__Track"],
div[class^="FilledTrack__Container"] {
    background-color: var(--background-glassy-layer);
    color: var(--lyeh-text-main);
    border-color: rgba(255, 255, 255, 0.3);
}
div[class^="UnnumberedTracksEditor__Track"] h3,
div[class^="FilledTrack__Container"] h3 {
    color: var(--lyeh-text-main);
}

div[class^="Track__RightAlignedIndicator-sc"] {
    color: var(--lyeh-text-main);
}

div[class^="css-"][class*="-control"] {
    background-color: var(--background-glassy-layer) !important;
    color: var(--lyeh-text-main) !important;

    border: 1px solid rgba(255, 255, 255, 0.15);
}
div[class^="css-"][class*="-singleValue"] {
    color: var(--lyeh-text-main);
}

div[class^="EditCoverArtwork__Container"] {
    background-image: none !important;
}
div[class^="EditCoverArtwork__BorderWrapper"] {
    border-color: rgba(255,255,255,0.4) !important;
}

div[class^="ScrollableTabs__ContentHeader"] :has([class^="BulkEditSongsTrackGrid__Collaps"]) {
  position: relative;
}
div[class^="ScrollableTabs__ContentHeader"] :has([class^="BulkEditSongsTrackGrid__Collaps"]) input {
  border-color: var(--lyeh-text-main);

}
div[class^="ScrollableTabs__ContentHeader"] :has([class^="BulkEditSongsTrackGrid__Collaps"])::before {
    content: "";
    background-color: var(--background-glassy-50) !important;
    z-index: -1;
    inset: 0;
    backdrop-filter: blur(10px);
    position: absolute;
    height: 100%;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-bottom: none;
}
div[class^="AccordionContent__Container"] label {
    color: var(--lyeh-text-main) !important;

}

div[class^="CoverArtAnnotationModalContent__Container"] {
    background-color: var(--background-glassy-50) !important;
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 10px;
}

div[class^="CoverArtAnnotationModalContent__ImageAndNav"] {
    border-radius: 10px 0px 0px 10px;
}

div[class^="StackedCoverArts__TextOverlay"]{
    border-radius: 10px !important;
}


div[class^="EmptyTrackSlot__Container"] {
    background-color: var(--accent-50);
}
