div[class^="SectionTitle__Title-sc"] {
    color: var(--lyeh-text-main);
}
div[class^="ExpandableListItem__Container"] {
    border-color: var(--lyeh-text-main);
}
div[class^="ExpandableListItem__Title"] {
    color: var(--lyeh-text-main);
    background-color: transparent;
}
div[class^="AlbumCredits__Columns"] div {
    color: var(--lyeh-text-main) !important;
}
div[class^="SongCredits__Columns"] div {
    color: var(--lyeh-text-main) !important;
}
a[class^="SongTags__Tag"] {
    border-color: var(--lyeh-text-main) !important;
}

div[class^="TracklistOffsetContainer"] {
    color: var(--lyeh-text-main);
}

div[class^="UnnumberedTracksEditor__Track"],
div[class^="FilledTrack__Container"] {
    background-color: var(--background-glassy-layer);
    color: var(--lyeh-text-main);
}
div[class^="UnnumberedTracksEditor__Track"] h3,
div[class^="FilledTrack__Container"] h3 {
    color: var(--lyeh-text-main);
}

div[class^="Track__RightAlignedIndicator-sc"] {
    color: var(--lyeh-text-main);
}

div[class^="css-"][class*="-control"] {
    background-color: var(--background-glassy-layer) !important;
    color: var(--lyeh-text-main) !important;

    border: 1px solid rgba(255, 255, 255, 0.15);
}
div[class^="css-"][class*="-singleValue"] {
    color: var(--lyeh-text-main);
}
