h2 {
    color: var(--lyeh-text-main) !important;
}

nav[class^="StickyNav-desktop__Container"]:has(~ div[class^="Profile__Container"]) {
    background-color: var(--current-accent);
    transition: all 0.5s cubic-bezier(0.4, 0, 0.2, 1) !important;
}
nav[class^="StickyNav-desktop__Container"]:has(~ div[class^="Profile__Container"]) :is(a, span, path) {
    transition: all 0.5s cubic-bezier(0.4, 0, 0.2, 1) !important;

    fill: contrast-color(var(--current-accent));
    color: contrast-color(var(--current-accent));
    text-decoration: none !important;
}
div[class^="StickyNavLoggedIn__Container"] div[class^="PageHeaderMenu__Iq"] span {
    color: var(--accent-text) !important;
}

main[class*="ProfileContent-desktop__PageGrid"] path {
    fill: var(--lyeh-text-main) !important;
}
div[class^="DiscographyItem__Info"] {
    color: var(--lyeh-text-main) !important;
}

span[class^="LabelWithIcon__Container"] path {
    fill: var(--lyeh-text-main) !important;
}

button[class^="DropdownList__LabeledButton"] {
    border-color: var(--lyeh-text-main);
}
button[class^="DropdownList__LabeledButton"]:hover {
    background-color: var(--accent-50) !important;
    transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1) !important;
}

button[class^="VotingActions__Button"][aria-pressed="true"] svg[class^="VotingActions__ThumbsUp"] path {
    fill: #4bbf38 !important;
}
button[class^="VotingActions__Button"][aria-pressed="true"] svg[class^="VotingActions__ThumbsDown"] path {
    fill: #bf4538 !important;
}
a[class^="DiscographyItem__Container"] {
    padding: 3px;
    border-radius: 10px;
}
a[class^="DiscographyItem__Container"]:hover {
    scale: 1.1;
    background-color: var(--background-glassy-layer);
    border: 1px solid rgba(255, 255, 255, 0.6);
    transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1) !important;
}
div[class^="SizedImage__Container"] {
    border-radius: 8px;
}
div[class^="PopularSongs__Container"],
div[class^="PopularAlbums__Container"] {
    background-color: var(--background-glassy-layer) !important;
    border: 1px solid rgba(255, 255, 255, 0.6);
    border-radius: 10px;
}

button[class*="ProfileContent-desktop__FeaturedButton"] {
    background-color: transparent;
}
h3[class^="VerifiedBadge__VerifiedBadgeContainer-sc"] {
    background-color: var(--current-accent);
    padding: 2px 6px;
    border-radius: 10px;
    color: black;
    fill: white;
    transition: all 0.5s cubic-bezier(0.4, 0, 0.2, 1) !important;

    color: contrast-color(var(--current-accent)) !important;
}
h3[class^="VerifiedBadge__VerifiedBadgeContainer-sc"] svg {
    transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1) !important;

    fill: contrast-color(var(--current-accent));
}
h3[class^="VerifiedBadge__VerifiedBadgeContainer-sc"] path {
    fill: contrast-color(contrast-color(var(--current-accent))) !important;
}

div[class^="ArtistAvatar__Container"] {
    border-color: var(--current-accent);
    transition: all 0.5s cubic-bezier(0.4, 0, 0.2, 1) !important;
}
ul[class^="DiscographyItemList"] {
    gap: 1rem;
    overflow: visible;
}

a[class*="OptOutButton__Container-sc"] {
    display: none;
}
button[class*="OptOutButtonWithFeedbackModal__SmallButton-sc"] {
    display: none;
}

hr[class^="ProfileContent-desktop__Divider"] {
    border-color: rgb(255 255 255 / 20%);
}

div[class^="CollaboratorEntry__Container"],
li[class^="IqEarnersList__List"] {
    border-color: rgb(255 255 255 / 20%) !important;
}
/*
button[class^="PagingActions__PageButton"]:has([style*="background-color"]) {
    background-color: red;
}*/
/* genius just don't update your page 🙏 (will add js in future just too lazy rn) | rn don't even know where that is lmao*/
.iHfhfx {
    background-color: var(--accent-50) !important;
}

ul[class^="DropdownList__ItemsContainer"] {
    background-color: var(--background-glassy-layer);
    backdrop-filter: blur(10px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.6);
    overflow: hidden;
}

ul[class^="DropdownList__ItemsContainer"] {
    background-color: var(--background-glassy-layer);
    border: 1px solid rgba(255, 255, 255, 0.6);
    backdrop-filter: blur(10px);
    border-radius: 10px;
}
a[class^="ProfilesDropdown__SocialLink"]:hover {
    background-color: var(--accent-50);
}
span[class^="DropdownList__Caret"] {
    background-color: var(--lyeh-text-main) !important;
}
div[class^="QuestionAnswerList__List"] {
    gap: 10px;
}
a[class^="QuestionAnswerList__ItemContainer"] {
    border-radius: 10px !important;
    column-gap: 10px;
    border: 1px solid var(--lyeh-text-main) !important;
}

div[class^="AllAlbumsModal__Contents"],
div[class^="AllSongsModal__Contents"] {
    border-radius: 10px;
    background-color: var(--background-glassy-50);
    backdrop-filter: blur(10px);
}



/* Lyeh */

.social-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* This centers the items on the last row */
    gap: 8px; /* Adjust your gap here */
}
.social-container * {
  /* Calculate exact 3-column width minus gap distributions */
  flex: 0 0 calc((100% - (8px * 2)) / 3);
  box-sizing: border-box;
}

.social-elem {
    padding: 4px;
        background-color: var(--background-glassy-layer);
    text-align: center;
    border: 1px solid rgba(255, 255, 255, 0.15);
    width: 100%;
    border-radius: 10px;
}
.social-elem:hover {
    padding: 4px;
    transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1); /*I love u spikerko*/

        background-color: var(--accent-40);
}
