div[class^="apple_music_player-container"] {
    border: 0 !important;
    background-color: transparent;
}

body[ng-app="genius.apple_music_player"] {
    background-color: transparent !important;
    display: block;

    border-radius: 10px;
    padding: 0;
}
div[class="apple_music_player-player"] {
    background-color: rgba(21, 16, 16, 0.5);
    border-radius: 10px;
    backdrop-filter: blur(15px);
    border: 1px solid rgba(255, 255, 255, 0.15);

    padding: 5px;
}
div[class^="apple_music_player-player-info"] {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
div[class^="apple_music_player-player-info-title"] {
    font-size: 1rem;
    margin: 0 !important; /* Kills default browser margins */
    padding: 0;
    padding-left: 5px;
    line-height: 1.2;
}
div[class^="apple_music_player-player-info-artist"] {
    font-size: 0.8rem;
    margin: 0 !important; /* Kills default browser margins */
    padding: 0;
    padding-left: 5px;
    line-height: 1.2;
}
div[class^="apple_music_player-player-song_art"] {
    width: 60px;
    height: 60px;

    display: flex;
    position: static;
    align-items: center;
    justify-content: center;
}
div[class^="apple_music_player-seekbar"]::before {
    background-color: var(--lyeh-text-main);
}
div[class^="apple_music_player-player-seekbar-dashed"] {
    border-bottom: 2px dashed var(--lyeh-text-main);
}
.cover_art-image {
    border-radius: 5px;
}
.cover_art {
    background-color: transparent !important;
}
.apple_music_player-seekbar-scrubber-circle {
    background-color: var(--lyeh-text-main) !important; /* Replace with your desired color */
}

div[class^="AppleMusicPlayer-desktop__IframeContainer"] {
    width: var(--settings-player-width);
    position: relative !important;
    margin: 0;
    grid-column: page-start / page-end !important;
    justify-self: center !important;
}

.apple_music_player-root.apple_music_player--desktop {
    padding: 0 !important;
}

[class^="SongPage__BottomSticky-sc"] {
    display: var(--settings-youtube) !important;
}

/* Lyhe's player */

.synced-line::before {
    opacity: 1;
    content: "";
    position: absolute;

    top: -5px;
    bottom: -5px;
    left: -10px;
    right: -10px;

    z-index: -1 !important;
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.15);
    background-color: var(--accent-40);

    /* Hide by default and set up the transition */
    opacity: 0;
    transition: opacity 0.4s cubic-bezier(0.4, 0, 0.2, 1);
}

.synced-line {
    position: relative;
    display: inline-block;
    text-decoration-color: var(--settings-accent) !important;

    transition: scale 0.4s ease-in-out;
}
.current-line {
    z-index: 2 !important;
    scale: 1.02 !important;
    font-size: 20px;
}
.current-line::before {
    opacity: 1;
}

.current-line a span {
    background-color: unset;
}
