.standalone_annotation {
    background-color: #16141496 !important;
    border: 1px solid rgba(255, 255, 255, 0.6);
    border-radius: 10px;
    padding: 20px;
}

a[class^="referent--accent_font referent--line_break"] {
    background-color: rgba(250, 100, 160, 0.7) !important;
}
div[class^="profile_achievements-badge-name"] {
    color: var(--lyeh-text-main);
}

div[class^="statistics_panel"] {
    background-color: transparent;
}
div[class^="statistics_panel"] path {
    fill: var(--lyeh-text-main);
}

a[class^="profile_contribution"] {
    background-color: #16141496 !important;
    border: 1px solid rgba(255, 255, 255, 0.6);
    border-radius: 10px;
    padding: 20px;
}
a[class^="referent"] {
    background-color: transparent !important;
}

div[class^="note_bubble"] {
    background-color: var(--accent-muted) !important;
}
div[class^="note_bubble"]::before {
    border-bottom-color: var(--accent-muted) !important;
}

profile-user-pane .white_container {
    background-color: #16141496 !important;
    border-radius: 10px;
}

[ng-show="!$ctrl.show_artist_pane"] [class*="column_layout-column_span--secondary"] {
    /*background-color: red;*/
    width: 40%;
}
[ng-show="!$ctrl.show_artist_pane"] [class*="column_layout-column_span--primary"] {
    width: 100%;
}

.column_layout[ng-show="!$ctrl.show_artist_pane"] {
    /*background-color: blue;*/
    max-width: 1200px;
    padding: 0;
}
.profile_header .column_layout {
    margin: none !important;
    width: none !important;
    max-width: 1480px;
}
.profile_identity-iq {
    background-color: rgba(255, 255, 100, 0.8) !important;
    color: black !important;
    border-radius: 10px;
    padding: 0.125rem 0.225rem !important;
}

.header-action-label {
    display: none;
}

.feed_dropdown {
    border-radius: 10px !important;
    background-color: rgba(41, 36, 36, 0.4) !important;
    backdrop-filter: blur(10px);
    color: var(--lyeh-text-main) !important;
    top: 3rem !important;
}

.inbox_line_item_detail {
    background-color: transparent;
}

.gray_container {
    background-color: rgba(0, 0, 0, 0.4) !important;
    border-radius: 10px;
}

.tooltip {
    border-radius: 10px;
    background-color: rgba(41, 36, 36, 0.4) !important;
    color: white !important;
    border: 1px solid rgba(255, 255, 255, 0.15) !important;
    backdrop-filter: blur(10px);
}
